html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(3, 26, 80);
    color: #ffffff;
  }
}

h1,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

section {
  display: flex;
  margin-top: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.15;
  margin: 0 0.5rem;
  cursor: pointer;
}
